# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Few examples of evaluating arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

### Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy

### Data Science Tools Table:

|Data Science Tools|
|------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
exp= (3*4)+5
print(exp)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
print(200/60)

3.3333333333333335

## Author:

Najlaa